@media screen and (min-width: 0px) and (max-width: 600px) {
    #container_text {
        line-height: 2.3em !important;
    }

    #container_text #text_portal {
        font-family: 'philosopherregular' !important;
        font-size: 2em !important;
    }
    #container_text #text_inspire {
        font-family: 'philosopherbold' !important;
        font-size: 4em !important;
    }

    .text_meaning {
        font-size: 0.7em;
    }

    .opening_img {
        z-index: 555 !important;
        padding-left: 0.5em !important;
        padding-top: 2em !important;
    }

    #container_start {
        background-color: rgba(244, 67, 54, 0.3) !important;
        z-index: 666 !important;
    }

    .close_img {
        padding-left: 2.2em !important;
        padding-top: 2em !important;
    }
}

/* Untuk Background Setiap hari raya besar */

/* @media (min-width: 320px) {
    body {
        background-image:url(../img/login/kenaikan/bg-1-60.png);
        background-repeat:no-repeat;
        background-size:cover;
    }
    
}

@media (min-width: 600px) {
    body {
        background-image:url(../img/login/kenaikan/bg-1-60.png);
        background-repeat:no-repeat;
        background-size:cover;
    }
    
}

@media (min-width: 992px) {
    body {
        background-image:url(../img/login/kenaikan/bg-1-60.png);
        background-repeat:no-repeat;
        background-size:cover;
    }
} */

/* Untuk Background Setiap hari raya besar */

body {
    background-color: #ef9a9a;
}

.opening_img {
    padding-top: 1em;
    padding-left: 6em;
    position: fixed;
    width: auto;
    height: 100vh;
    z-index: 666;
}

.opening_img img {
    border-radius: 1em;
}

.close_img {
    display: none;
    padding-top: 2em;
    padding-left: 6em;
    position: fixed;
    width: auto;
    height: 100vh;
    z-index: 222;
}

.close_img img {
    border-radius: 1em;
    width: 25em;
}

#container_login {
    /* display: none;  */
    position: fixed; 
    width: 100%; 
    z-index: 111;
}

#container_start {
    width: 100%;
    height: 100vh;
    background-color: rgba(244, 67, 54, 0.5);
    position: fixed;
    z-index: 555;
    display: none;
}

#particles-js {
    display: none;
}

#container_fireworks {
    opacity: 0.98;
    top: 0;
    position: fixed;
    z-index: 333;
}

#container_text {
    color: #ffffff;
    z-index: 444;
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 10em;
    line-height: 5em;
    display: none;
}

#inspire_logo:hover {
    cursor: pointer;
}

#container_text #text_portal {
    font-family: 'philosopherregular';
    font-size: 4em;
}

#container_text #text_inspire {
    font-family: 'philosopherbold';
    font-size: 10em;
}

#container_text img {
    width: 7em;
    display: none;
}

.text_meaning {
    display: none;
    font-family: 'roboto-regular';
}

#btn_login {
    display: none;
}

/* Pulse button */
@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    100% {
        box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
    }
}

@keyframes shadow-pulse-big {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
    }

    100% {
        box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
    }
}

.btn_pulse_1 {
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    width: 7em;
    height: 7em;
    line-height: 1.1em;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 0.93em;
    color: #fff;
    text-align: center;
    background: rgba(54, 67, 86, 0.6);
    border-radius: 50%;
    animation: shadow-pulse 1s infinite;
    cursor: pointer;
}

.btn_pulse_ket {
    font-family: 'roboto-light';
    margin: 0 auto;
    position: relative;
    top: 43%;
    transform: perspective(1px) translateY(-50%);
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    cursor: pointer;
}