:root {
    --login-background: url('../img/rektorat2.jpg');
}

#navbar-title {
    font-family: philosopherregular;
    letter-spacing: 3px;
}

.marquee {
    height: 25px;
    width: 220px;

    overflow: hidden;
    position: relative;
}

.marquee div {
    display: block;
    width: 150%;
    height: 30px;

    position: absolute;
    overflow: hidden;

    animation: marquee 8s linear infinite;
}

.marquee span {
    float: left;
    width: 150%;
}

@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

#back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

.login-page {
    background-image: var(--login-background);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.border {
    border: solid black 1px !important;
}

.modal-xlg {
    width: 80% !important;
}

.tik_img--alternative:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('../img/user.png');
}

.tik_table--sm tbody tr td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 0.8em;
}

.tik_label--lg {
    font-size: 10pt;
}

.tik_cursor--pointer {
    cursor: pointer;
}

#sticky-btn-container {
    width: 100px;
    height: auto;
    position: fixed;
    right: 0;
    margin-top: 25%;
    z-index: 5;
    padding: 7px 7px 7px 7px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(60, 141, 188, 0.8);
}

#sticky-btn-container button {
    width: 100%;
}

/** Alert JS & Loading */
#alert_js {
    bottom: 0;
    position: fixed;
    background-color: transparent;
    width: 100%;
    display: block;
    z-index: 9999;
}

#alert_js .alert {
    width: 40em;
    margin: 0 auto;
    margin-bottom: 1em;
}

#loading-container {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
    z-index: 9999;
    display: none;
}

#loading {
    width: 80px;
    height: 80px;
    padding-top: 4px;
    background-color: transparent;
    border-radius: 10px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 8888;
}

#loading-logo {
    animation-name: rotate-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    width: 70px;
    opacity: 8;
    margin: 0 auto;
}

@keyframes rotate-animation {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

/** // Alert JS & Loading */

/** =============== CODE LAMA =============== */
/* #navbar-title {
    font-family: philosopherregular;
    letter-spacing: 3px;
}

.marquee {
    height: 25px;
    width: 220px;

    overflow: hidden;
    position: relative;
}

.marquee div {
    display: block;
    width: 150%;
    height: 30px;

    position: absolute;
    overflow: hidden;

    animation: marquee 8s linear infinite;
}

.marquee span {
    float: left;
    width: 150%;
}

@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

#back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
} */